/* reset browser styles */

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;


}
ol {
	padding-left: 1.4em;
	list-style: decimal;
}
ul {
	padding-left: 1.4em
	list-style: square;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end reset browser styles */
/* 여기서부터 CSS 작성을 시작합니다. */
/* FONT는 HTML에나 추가하세요 여기서 안됨 왠지모르겠는데 */

/*

HHH   HHH   TTTTTTTTTTT   MMM           MMM   LLL             555555555555
HHH   HHH   TTTTTTTTTTT   MMMMM      MMMMMM   LLL             555555555555
HHH   HHH       TTT       MMM MMM   MMM MMM   LLL             555
HHHHHHHHH       TTT       MMM  MMM MMM  MMM   LLL             555555555555
HHHHHHHHH       TTT       MMM   MMMMM   MMM   LLL             555555555555
HHH   HHH       TTT       MMM           MMM   LLL                      555
HHH   HHH       TTT       MMM           MMM   LLLLLLLLLLLL    555555555555
HHH   HHH       TTT       MMM           MMM   LLLLLLLLLLLL    555555555555

ccccccccccccc   sssssssssssss   ssssssssssssss   333333333333
ccccccccccccc   sssssssssssss   ssssssssssssss   333333333333
ccc             sss             sss                       333
ccc             sss             sss                       333
ccc             sssssssssssss   ssssssssssssss   333333333333
ccc             sssssssssssss   ssssssssssssss   333333333333
ccc                       sss              sss            333
ccccccccccccc   sssssssssssss   ssssssssssssss   333333333333
ccccccccccccc   sssssssssssss   ssssssssssssss   333333333333

*/

/* Postition Align Setting : PAS */
/* 가운데 정렬용 태그 옵션 */

.PAS {

    float: right;
	position: relative;
	left: -50%;

}

/* Body Layout */

body {
    background-image: url(../image/history_resource/bg_bluecolor_title.png);
    background-repeat: repeat-x;
    background-size: auto;
    background-color: #FAFAFA;
    background-position: top;
}

/* Navigation Layout */

nav {

    /* Fixed Option */
    position: fixed;

    /* Background Code */
    width: 100%;
    background:rgba(0, 0, 0, 0.8) repeat-y;

    /* Navigation First Layout Option */
    text-align: left;
    padding: 20px 32px 20px 32px;
    list-style: none;
    font-size: 1em;

}

nav li {

    /* Navigation Second Layout Option */
    font-family: 'Roboto Mono';
    font-weight: 300;
    list-style: none;
    float: left;
    margin-left: 48px;

}

nav li:first-child {

    /*first element margin reset*/
    margin-left: 0px;

}

nav a {

    /* Navigation Decorate Option */
    text-decoration: none;
    opacity: 0.5;
    color : white;

}

nav a:hover {

    /* Hover Option */
    opacity: 1;

}

#selected_nav {
    /* Opacity Return */
    opacity: 1;

    /* Position Option */
    padding-bottom: 10px;

    /* Selected Divider Option */
    background-image: url(../image/navigation/ic_currentpage.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 30px;

}

.main_title {
    
    /* Timeline Elements Option */
    background-image: url(../image/history_resource/timeline_start.png);
    background-repeat: no-repeat;
    background-position: bottom;

    /* Position Option */
    clear: both;
    padding-top: 340px;
    padding-bottom: 560px;

}

.title_of_history {

    /* Position Option*/
    text-align: center;

    /* Text Decoration Option */
    font-family: 'roboto';
    font-size: 4em;
    font-weight: 800;
    color: white;


}

.subtitle_of_history {

    /* Position Option*/
    text-align: center;
    font-family: 'Noto Sans KR';
    color: white;
    opacity: .6;
    background-image: url(../image/navigation/ic_currentpage.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 28px;
    padding-top: 10px;

}

.bonemun_title {
    
    /* Timeline Elements Option */
    background-image: url(../image/history_resource/timeline_end_black.png);
    background-repeat: no-repeat;
    background-position: top;
    
	/*Position Option */
	padding-top:450px;

	/*Text Decoration Option */
	text-align: center;
	font-size: 3em;
	font-family: 'Noto Sans KR';
	color: #AEAEAE;

}

.bonemun_year {
    
    /* Position Option */
    padding-top: 10px;
    
    /* Text Decoration Option */
    text-align: center;
    font-family: 'Roboto Mono';
    font-weight: 700;
    color: #CACACA;
    
}

.bonemun_naeyong {
    
    /* Divider Option */
    background-image: url(../image/main/div_black.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 36px;

    /* Position Option */
    padding-top: 15px;
    margin-top: 15px;
    
    /* Text Decoration Option */
    text-align: center;
    font-family: 'Noto Sans KR';
    font-weight: 200;
    font-size: 14pt;
    color: #454545;
    line-height: 22pt;
    
    
}

.timelinehelper {
    
    /* Position Option */
    margin-top: 74px;
    padding-bottom: 360px;
    
    /* Start Timeline Option */
    background-image: url(../image/history_resource/timeline_start_black.png);
    background-repeat: no-repeat;
    background-position: bottom;

}

#elementeryschool {
    
    /* Background Option */
    background-image: url(../image/history_resource/bg_orange_library.png);
    background-repeat: repeat-x;
    background-size: auto;
    
}

#chodung {
    
    /* Timeline Elements Option */
    background-image: url(../image/history_resource/timeline_end_white.png);
    background-repeat: no-repeat;
    background-position: top;
    
    /* Font Decoration Option */
    color: white;
       
}

#chodung_a {
    
    /* Font Decoration Option */
    color: #BDBDBD;
    
}

#chodung_b {
    
    /* Divider Option */
    background-image: url(../image/navigation/ic_currentpage.png);
    
    /* Text Decoration Option */
    color: #FAFAFA;
    
}

#chodung_th {
    
    /* Start Timeline Option */
    background-image: url(../image/history_resource/timeline_start_cutted_by_chodung.png);
    
    /* Position Option */
    margin-top: 54px;
    padding-bottom: 320px;
    
}

#touchcomputer {
    
    /* Background Option */
    background-image: url(../image/history_resource/bg_white_keyboard.png);
    background-repeat: repeat-x;
    background-size: auto;
    
}

#computer {
    
    /* Font Decoration Option */
    color: #313131;
    
}

#computer_a {
    
    /* Font Decoration Option */
    color: #565656;
    
}

#computer_b {
    
    /* Font Decoration Option */
    color: black;
    
}

#computer_th {
    
    /* Start Timeline Option */
    background-image: url(../image/history_resource/timeline_start_black_cutted_by_computer.png);
    
    /* Position Option */
    margin-top: 54px;
    padding-bottom: 320px;
    
}

#crazygame {
    
    /* Background Option */
    background-image: url(../image/history_resource/bg_cyan_game.png);
    background-repeat: repeat-x;
    background-size: auto;
    
}

#game {
    
    /* Timeline Elements Option */
    background-image: url(../image/history_resource/timeline_end_white.png);
    background-repeat: no-repeat;
    background-position: top;
    
    /* Font Decoration Option */
    color: white;
       
}

#game_a {
    
    /* Font Decoration Option */
    color: white;
    opacity: .6;
    
}

#game_b {
    
    /* Divider Option */
    background-image: url(../image/navigation/ic_currentpage.png);
    
    /* Text Decoration Option */
    color: #FAFAFA;
    
}

#middleschool {
    
    /* Background Option */
    background-image: url(../image/history_resource/bg_blackblue_library.png);
    background-repeat: repeat-x;
    background-size: auto;
    
}

#jding {
    
    /* Timeline Elements Option */
    background-image: url(../image/history_resource/timeline_end_white.png);
    background-repeat: no-repeat;
    background-position: top;
    
    /* Font Decoration Option */
    color: white;
       
}

#jding_a {
    
    /* Font Decoration Option */
    color: #BDBDBD;
    
}

#jding_b {
    
    /* Divider Option */
    background-image: url(../image/navigation/ic_currentpage.png);
    
    /* Text Decoration Option */
    color: #FAFAFA;
    
}

#touchps {
    
    /* Background Option */
    background-image: url(../image/history_resource/bg_indigo_ps.png);
    background-repeat: repeat-x;
    background-size: auto;
    
}

#ps {
    
    /* Timeline Elements Option */
    background-image: url(../image/history_resource/timeline_end_white.png);
    background-repeat: no-repeat;
    background-position: top;
    
    /* Font Decoration Option */
    color: white;
       
}

#ps_a {
    
    /* Font Decoration Option */
    color: #BDBDBD;
    
}

#ps_b {
    
    /* Divider Option */
    background-image: url(../image/navigation/ic_currentpage.png);
    
    /* Text Decoration Option */
    color: #FAFAFA;
    
}


#sipduuuuck {
    
    /* Background Option */
    background-image: url(../image/history_resource/bg_pink_anime.png);
    background-repeat: repeat-x;
    background-size: auto;
    
}

#sipduuuuck:hover {
    
    /* Background Option */
    background-image: url(../image/history_resource/bg_pink_anime_animation.gif);
    
}

#duck {
    
    /* Timeline Elements Option */
    background-image: url(../image/history_resource/timeline_end_white.png);
    background-repeat: no-repeat;
    background-position: top;
    
    /* Font Decoration Option */
    color: white;
       
}

#duck_a {
    
    /* Font Decoration Option */
    color: #BDBDBD;
    
}

#duck_b {
    
    /* Divider Option */
    background-image: url(../image/navigation/ic_currentpage.png);
    
    /* Text Decoration Option */
    color: #FAFAFA;
    
}

#finddesign {
    
    /* Background Option */
    background-image: url(../image/history_resource/bg_whitegreen_apps.png);
    background-repeat: repeat-x;
    background-size: auto;
    
}

#design {
    
    /* Font Decoration Option */
    color: #313131;
    
}

#design_a {
    
    /* Font Decoration Option */
    color: #565656;
    
}

#design_b {
    
    /* Font Decoration Option */
    color: black;
    
}

#gosunrin {
    
    /* Background Option */
    background-image: url(../image/history_resource/bg_black_sunrin.png);
    background-repeat: repeat-x;
    background-size: auto;
    
}

#sunrin {
    
    /* Timeline Elements Option */
    background-image: url(../image/history_resource/timeline_end_white.png);
    background-repeat: no-repeat;
    background-position: top;
    
    /* Font Decoration Option */
    color: white;
       
}

#sunrin_a {
    
    /* Font Decoration Option */
    color: #BDBDBD;
    
}

#sunrin_b {
    
    /* Divider Option */
    background-image: url(../image/navigation/ic_currentpage.png);
    
    /* Text Decoration Option */
    color: #FAFAFA;
    
}

#next {
    
    /* Font Decoration Option */
    color: #313131;
    font-family: "Roboto-Mono";
}

#next_a {
    
    /* Font Decoration Option */
    color: #858585;
    font-weight: bold;
    
}

#next_b {
    
    /* Font Decoration Option */
    color: black;
    
}

footer {

    /* Position Option */
    padding-top: 390px;
    margin-left: 32px;
    margin-bottom: 32px;

    /* Font Decoration Option */
    font-family: 'roboto';
    line-height: 12pt;

}

#footer_img {

    /* Position Option */
    float: left;
    padding-right: 16px;

}

footer p {
    
    padding-top: 5px;
    font-size: .8em;
    color: #E0E0E0;
}

#footer_blog, #footer_mail, #welcome_page {

    text-decoration: none;
    color: #81D4FA;
}
