/* reset browser styles */

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;


}
ol {
	padding-left: 1.4em;
	list-style: decimal;
}
ul {
	padding-left: 1.4em
	list-style: square;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end reset browser styles */
/* 여기서부터 CSS 작성을 시작합니다. */
/* FONT는 HTML에나 추가하세요 여기서 안됨 왠지모르겠는데 */

/*

HHH   HHH   TTTTTTTTTTT   MMM           MMM   LLL             555555555555
HHH   HHH   TTTTTTTTTTT   MMMMM      MMMMMM   LLL             555555555555
HHH   HHH       TTT       MMM MMM   MMM MMM   LLL             555
HHHHHHHHH       TTT       MMM  MMM MMM  MMM   LLL             555555555555
HHHHHHHHH       TTT       MMM   MMMMM   MMM   LLL             555555555555
HHH   HHH       TTT       MMM           MMM   LLL                      555
HHH   HHH       TTT       MMM           MMM   LLLLLLLLLLLL    555555555555
HHH   HHH       TTT       MMM           MMM   LLLLLLLLLLLL    555555555555

ccccccccccccc   sssssssssssss   ssssssssssssss   333333333333
ccccccccccccc   sssssssssssss   ssssssssssssss   333333333333
ccc             sss             sss                       333
ccc             sss             sss                       333
ccc             sssssssssssss   ssssssssssssss   333333333333
ccc             sssssssssssss   ssssssssssssss   333333333333
ccc                       sss              sss            333
ccccccccccccc   sssssssssssss   ssssssssssssss   333333333333
ccccccccccccc   sssssssssssss   ssssssssssssss   333333333333

*/

/* Postition Align Setting : PAS */
/* 가운데 정렬용 태그 옵션 */

.PAS {

    float: right;
	position: relative;
	left: -50%;

}

/* Body Layout */

body {
    background-image:url(../image/likes_resource/bg_shiori_title.png);
    background-repeat: repeat-x;
    background-size: auto;
    background-position: top;
}

/* Navigation Layout */

nav {
    
    /* Fixed Option */
    position: fixed;

    /* Background Code */
    width: 100%;
    background:rgba(0, 0, 0, 0.8) repeat-y;

    /* Navigation First Layout Option */
    text-align: left;
    padding: 20px 32px 20px 32px;
    list-style: none;
    font-size: 1em;

}

nav li {

    /* Navigation Second Layout Option */
    font-family: 'Roboto Mono';
    font-weight: 300;
    list-style: none;
    float: left;
    margin-left: 48px;

}

nav li:first-child {

    /*first element margin reset*/
    margin-left: 0px;

}

nav a {

    /* Navigation Decorate Option */
    text-decoration: none;
    opacity: 0.5;
    color : white;

}

nav a:hover {

    /* Hover Option */
    opacity: 1;

}

#selected_nav {
    /* Opacity Return */
    opacity: 1;

    /* Position Option */
    padding-bottom: 10px;

    /* Selected Divider Option */
    background-image: url(../image/navigation/ic_currentpage.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 30px;

}

.main_title {
    
    /* Position Option */
    padding-top: 360px;
    padding-bottom: 72px;
    
}

.title_of_likes {
    
    /* Font Decoration Option */
    font-family: 'Damion', cursive;
    font-size: 72pt;
    text-align: center;
    color: white;
    
}

.subtitle_of_likes {
    
    /* Font Decoration Option */
    font-family: 'Nanum Gothic';
    font-size: 18pt;
    text-align: center;
    color: white;
    opacity: .7;
    
}

.helper {
    
    /* PAS Option */
    float: left;
    position: relative; 
    left: 50%;
}

#first_post {
    
    /* PAS Fixed Option */
    clear: both;
    
    /* Position Option */
    margin-top: 640px;
    
}

.title_of_compare {
    
    /*Postion Option */
    padding-bottom: 36px;
    
    /* Font Decoration Option */
    font-family: 'Nanum Gothic';
    font-size: 20pt;
    text-align: center;
    color: #E57373;
    
    /* PAS Fixed Option */
    clear: both;
    
}

.PAS_local_a {

    float: right;
	position: relative;
	left: -49%;

}

.compare_a {
    
    /*Postition Option */
    padding-top: 240px;
    margin-right: 10px;
    
    /* PAS Option */
    float: left;
    position: relative; 
    left: 50%;
    
    /* Background Option */
    background-image: url(../image/likes_resource/img_compare_witan.png);
    background-repeat: no-repeat;
    background-position: right top;
    
}

.compare_a_name {
    
    /* Font Decoration Option */
    font-family: 'Nanum Gothic';
    font-size: 24pt;
    font-weight: bold;
    color: #EF5350;
    text-align: right;
}

.compare_a_intro {
    
    /* Divider Option */
    background-image: url(../image/main/div_black.png);
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: right top;
    
    /* Postion Option */
    padding-top: 10px;
    margin-top: 10px;
    max-width: 560px;
    min-width: 560px;
    
    /* Font Decoration Option */
    font-family: 'Nanum Gothic';
    font-size: 11pt;
    font-weight: bold;
    color: #ADADAD;
    text-align: right;
    
}

.compare_b {
    
    /*Postition Option */
    padding-top: 240px;
    margin-left: 10px;
    
    /* PAS Option */
    float: left;
    position: relative; 
    left: 50%;
    
    /* Background Option */
    background-image: url(../image/likes_resource/img_compare_sao.png);
    background-repeat: no-repeat;
    background-position: left top;
    
}

.compare_b_name {
    
    /* Font Decoration Option */
    font-family: 'Nanum Gothic';
    font-size: 24pt;
    font-weight: bold;
    color: #EF5350;
    text-align: left;
}

.compare_b_intro {
    
    /* Divider Option */
    background-image: url(../image/main/div_black.png);
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: left top;
    
    /* Postion Option */
    padding-top: 10px;
    margin-top: 10px;
    max-width: 560px;
    min-width: 560px;
    
    /* Font Decoration Option */
    font-family: 'Nanum Gothic';
    font-size: 11pt;
    font-weight: bold;
    color: #ADADAD;
    text-align: left;
    
}

.serodiv {
    
    /* PAS Option */
    float: left;
    position: relative; 
    left: 50%;
    
    /* Divider Option */
    background-image: url(../image/likes_resource/div_serodiv.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 4px;
    opacity: .4;

    
    /* Position Option */
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 480px;
}

#food_a {
    
    /* Item Change */
    background-image: url(../image/likes_resource/img_compare_tomato.png);
    
}

#food_b {
    
    /* Item Change */
    background-image: url(../image/likes_resource/img_compare_chicken.png);
    
}

#char_a {
    
    /* Item Change */
    background-image: url(../image/likes_resource/img_compare_QBEY.png);
    
}

#char_b {
    
    /* Item Change */
    background-image: url(../image/likes_resource/img_compare_itsuka.png);
    
}

#animal_a {
    
    /* Item Change */
    background-image: url(../image/likes_resource/img_compare_insect.png);
    
}

#animal_b {
    
    /* Item Change */
    background-image: url(../image/likes_resource/img_compare_goyang.png);
}

.dummy {
    
    clear: both;
}

footer {

    /* Position Option */
    padding-top: 181px;
    margin-left: 32px;
    margin-bottom: 32px;

    /* Font Decoration Option */
    font-family: 'roboto';
    line-height: 12pt;

}

#footer_img {

    /* Position Option */
    float: left;
    padding-right: 16px;

}

footer p {
    
    padding-top: 5px;
    font-size: .8em;
    color: #E0E0E0;
}

#footer_blog, #footer_mail, #welcome_page {

    text-decoration: none;
    color: #81D4FA;
}
