/* reset browser styles */

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;


}
ol {
	padding-left: 1.4em;
	list-style: decimal;
}
ul {
	padding-left: 1.4em
	list-style: square;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end reset browser styles */
/* 여기서부터 CSS 작성을 시작합니다. */
/* FONT는 HTML에나 추가하세요 여기서 안됨 왠지모르겠는데 */

/*

HHH   HHH   TTTTTTTTTTT   MMM           MMM   LLL             555555555555
HHH   HHH   TTTTTTTTTTT   MMMMM      MMMMMM   LLL             555555555555
HHH   HHH       TTT       MMM MMM   MMM MMM   LLL             555
HHHHHHHHH       TTT       MMM  MMM MMM  MMM   LLL             555555555555
HHHHHHHHH       TTT       MMM   MMMMM   MMM   LLL             555555555555
HHH   HHH       TTT       MMM           MMM   LLL                      555
HHH   HHH       TTT       MMM           MMM   LLLLLLLLLLLL    555555555555
HHH   HHH       TTT       MMM           MMM   LLLLLLLLLLLL    555555555555

ccccccccccccc   sssssssssssss   ssssssssssssss   333333333333
ccccccccccccc   sssssssssssss   ssssssssssssss   333333333333
ccc             sss             sss                       333
ccc             sss             sss                       333
ccc             sssssssssssss   ssssssssssssss   333333333333
ccc             sssssssssssss   ssssssssssssss   333333333333
ccc                       sss              sss            333
ccccccccccccc   sssssssssssss   ssssssssssssss   333333333333
ccccccccccccc   sssssssssssss   ssssssssssssss   333333333333

*/

/* Postition Align Setting : PAS */
/* 가운데 정렬용 태그 옵션 */

.PAS {

    float: right;
	position: relative;
	left: -50%;

}

/* Body Layout */

body {
    background-color: #FFFFFF;
    background-position: top;
}

/* Navigation Layout */

nav {

    /* Fixed Option */
    position: fixed;

    /* Background Code */
    width: 100%;
    background:rgba(0, 0, 0, 0.8) repeat-y;

    /* Navigation First Layout Option */
    text-align: left;
    padding: 20px 32px 20px 32px;
    list-style: none;
    font-size: 1em;

}

nav li {

    /* Navigation Second Layout Option */
    font-family: 'Roboto Mono';
    font-weight: 300;
    list-style: none;
    float: left;
    margin-left: 48px;

}

nav li:first-child {

    /*first element margin reset*/
    margin-left: 0px;

}

nav a {

    /* Navigation Decorate Option */
    text-decoration: none;
    opacity: 0.5;
    color : white;

}

nav a:hover {

    /* Hover Option */
    opacity: 1;

}

#selected_nav {
    /* Opacity Return */
    opacity: 1;

    /* Position Option */
    padding-bottom: 10px;

    /* Selected Divider Option */
    background-image: url(../image/navigation/ic_currentpage.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 30px;

}

.main_title {
    
    /* Position Option */
    padding-top: 256px;
    padding-bottom: 72px;
        
    /* Background Option */
    background-image: url(../image/school_resource/bg_title.png);
    background-repeat: repeat-x;
    
}

.title_of_school {
    
    /* Font Decoration Option */
    font-family: roboto;
    font-weight: 400;
    font-size: 36pt;
    text-align: left;
    color: white;
    
    /* Text Align Option */
    max-width: 960px;
    min-width: 960px;
    margin-left: auto;
    margin-right: auto;

}

.subtitle_of_school {

    /* Position Option */
    padding-bottom: 24px;
    
    /* Font Decoration Option */
    font-family: 'Noto Sans KR';
    font-weight: 400;
    font-size: 12pt;
    text-align: left;
    color: white;
    opacity: .7;
    
    /* Text Align Option */
    max-width: 960px;
    min-width: 960px;
    margin-left: auto;
    margin-right: auto;
    
}

.bonemun {
    margin-top: -96px;
    
    /* Background Option */
    background-image: url(../image/school_resource/bg_textzone_start.png);
    background-repeat: no-repeat;
    padding-top: 72px;
    background-position: top;
    
    
}

.bonemun_pt {
    
    /* Background Option */
    background-image: url(../image/school_resource/bg_textzone_repeat.png);
    background-repeat: repeat-y;
    background-position: center;
    
}

.bonemun_end {
    
    /* Background Option */
    background-image: url(../image/school_resource/bg_textzone_end.png);
    background-repeat: no-repeat;
    background-position: center;
    
}

#nextbonemun {
    
    /* Position Option */
    margin-top: 18px;
    
}

.title_de_bonemun {
    
    /* Text Decoration Option */
    font-family: 'Noto Sans KR';
    font-size: 24pt;
    color: #009688;
    
    /* Text Align Option */
    padding-bottom: 14px;
    max-width: 860px;
    min-width: 860px;
    text-align: justify;
    margin-right: auto;
    margin-left: auto;    

}

.munhun {
    /* Position Option */
    margin-top: 18px;
    margin-bottom: 18px;
    padding-top: 24px;
    padding-bottom: 24px;
    
    /* Text Decoration Option */
    font-family: 'Noto Sans KR';
    font-size: 16pt;
    color: #FFFFFF;
    line-height: 18pt;
    
    /* Background Option */
    
    background-image: url(../image/school_resource/ic_munhun_inyong.png);
    background-repeat: no-repeat;
    background-position: right;
    background-color: #00bfa5;
    
    /* Text Align Option */
    max-width: 860px;
    min-width: 860px;
    text-align: justify;
    margin-right: auto;
    margin-left: auto;
}

.naeyong {
    
    /* PAS Fix Option */
    clear: both;
    
    /* Text Decoration Option */
    font-family: 'Noto Sans KR';
    font-size: 12pt;
    color: #616161;
    line-height: 20pt;
    
    /* Text Align Option */
    max-width: 860px;
    min-width: 860px;
    text-align: justify;
    margin-right: auto;
    margin-left: auto;
}

.juseok {
    
    /*Font Decoration Option */
    color: #DEDEDE;
    font-style: italic;
    
}

.pasimg {
    
    /* PAS Option */
    float: left;
    position: relative;
    left: 50%;
    
    /* Postion Option */
    margin-top: -20px;
    margin-bottom: -20px;
    
}

footer {

    /* Position Option */
    padding-top: 181px;
    margin-left: 32px;
    margin-bottom: 32px;

    /* Font Decoration Option */
    font-family: 'roboto';
    line-height: 12pt;

}

#footer_img {

    /* Position Option */
    float: left;
    padding-right: 16px;

}

footer p {
    
    padding-top: 5px;
    font-size: .8em;
    color: #E0E0E0;
}

#footer_blog, #footer_mail, #welcome_page {

    text-decoration: none;
    color: #81D4FA;
}
