/* reset browser styles */

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;


}
ol {
	padding-left: 1.4em;
	list-style: decimal;
}
ul {
	padding-left: 1.4em
	list-style: square;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end reset browser styles */
/* 여기서부터 CSS 작성을 시작합니다. */

/* Noto Sans KR */
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

/*

HHH   HHH   TTTTTTTTTTT   MMM           MMM   LLL             555555555555
HHH   HHH   TTTTTTTTTTT   MMMMM      MMMMMM   LLL             555555555555
HHH   HHH       TTT       MMM MMM   MMM MMM   LLL             555 
HHHHHHHHH       TTT       MMM  MMM MMM  MMM   LLL             555555555555
HHHHHHHHH       TTT       MMM   MMMMM   MMM   LLL             555555555555
HHH   HHH       TTT       MMM           MMM   LLL                      555
HHH   HHH       TTT       MMM           MMM   LLLLLLLLLLLL    555555555555
HHH   HHH       TTT       MMM           MMM   LLLLLLLLLLLL    555555555555

ccccccccccccc   sssssssssssss   ssssssssssssss   333333333333
ccccccccccccc   sssssssssssss   ssssssssssssss   333333333333
ccc             sss             sss                       333
ccc             sss             sss                       333
ccc             sssssssssssss   ssssssssssssss   333333333333
ccc             sssssssssssss   ssssssssssssss   333333333333
ccc                       sss              sss            333
ccccccccccccc   sssssssssssss   ssssssssssssss   333333333333
ccccccccccccc   sssssssssssss   ssssssssssssss   333333333333

*/

/* Postition Align Setting : PAS */
/* 가운데 정렬용 태그 옵션 */
.PAS {
    
    float: right;
	position: relative;
	left: -50%;
    
}

/* Body Layout */

body {
    background-image: url(../image/main/background.png);
    background-repeat: repeat-x;
    background-size: auto;
    background-color: #FAFAFA;
    background-position: top;
}


/* Navigation Layout */

nav {

    /* Fixed Option */
    position: fixed;

    /* Background Code */
    width: 100%;
    background:rgba(0, 0, 0, 0.8) repeat-y;

    /* Navigation First Layout Option */
    text-align: left;
    padding: 20px 32px 20px 32px;
    list-style: none;
    font-size: 1em;

}

nav li {

    /* Navigation Second Layout Option */
    font-family: 'Roboto Mono';
    font-weight: 300;
    list-style: none;
    float: left;
    margin-left: 48px;

}

nav li:first-child {

    /*first element margin reset*/
    margin-left: 0px;

}

nav a {

    /* Navigation Decorate Option */
    text-decoration: none;
    opacity: 0.5;
    color : white;

}

nav a:hover {

    /* Hover Option */
    opacity: 1;

}

/* Title Layout */

.title_of_welcome {
    
    /* Position Option */
    text-align: center;
    padding-top: 320px;
    
    
    /* Text Decoration Option */
    font-family: 'roboto';
    font-size: 4em;
    font-weight: 100;
    color: white;

}

.sub_title_of_welcome {
    
    /* Position Option */
    text-align: center;
    padding-bottom: 24px;
    
    /* Text Decoration Option */
    font-family: 'RixSGo L';
    font-size: 16px;
    font-weight: 100;
    color: white;
    opacity: .5;
    
    /* Divider Option */
    background-image: url(../image/navigation/ic_currentpage.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 2%;
    
}

section {
    
    /* Position Option */
    text-align: center;
    padding-top: 24px;
    line-height: 24pt;
    
    
    /* Text Decoration Option */
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16pt;
    color: white;
    
}

#what_the_resolution {
    
    font-size: .8em;
    opacity: .6;
    
}

#next_page {
    
    /* PAS Option */
    float: left;
	position: relative;
	left: 50%;
    
    /* position Option */
    text-align: left;
    padding-left: 18px;
    
    /* Text Decoration Option */
    text-decoration: none;
    color: #40C4FF;
    
    /* Next icon Option */
    background-image: url(../image/main/next_page.png);
    background-repeat: no-repeat;
    background-size: 8px;
    background-position: left;
    
}

footer {
    
    /*Position Option */
    padding-top: 390px;
    margin-left: 32px;
    margin-bottom: 32px;
    
    /* Font Decoration Option */
    font-family: roboto;
    line-height: 12pt;
    
}

#footer_img {
    
    /* Position Option */
    float: left;
    padding-right: 16px;
    
}

footer p {
    
    padding-top: 5px;
    font-size: .8em;
    color: #E0E0E0;
}

#footer_blog, #footer_mail {
    
    text-decoration: none;
    color: #81D4FA;
}