/* reset browser styles */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;


}
ol {
	padding-left: 1.4em;
	list-style: decimal;
}
ul {
	padding-left: 1.4em
	list-style: square;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end reset browser styles */

body {

    /* Background Layout */
    background-image: url(image/background.png);
    background-color: #212121;
    background-repeat: repeat-x;
    margin: auto;

}


/* Navigation Layout */

.nav {

    /* Fixed Option */
    position: fixed;

    /* Background Code */
    width: 100%;
    background:rgba(0, 0, 0, 0.8) repeat-y;

    /* Navigation First Layout Option */
    text-align: left;
    padding: 20px 32px 20px 32px;
    list-style: none;
    font-size: 1em;

}



.nav li {

    /* Navigation Second Layout Option */
    font-family: 'Roboto Mono';
    list-style: none;
    float: left;
    margin-left: 48px;

}

.nav li:first-child {

    /*first element margin reset*/
    margin-left: 0px;

}

.nav a {

    /* Navigation Decorate Option */
    text-decoration: none;
    opacity: 0.5;
    color : white;

}

.nav a:hover {

    /* Hover Option */
    opacity: 1;

}


/* Title Layout & Top Size Layout */

.title {

    /* Title Layout */
    font-family: 'Roboto Mono';
    font-weight: bold;
    font-size: 3em;
    color: white;

    /* Position Option */
    margin-left: 35px;
    margin-bottom: 12px;
    padding-top: 225px;
    padding-bottom: 24px;


    /* Divider */
    background-image: url(image/title_div.png);
    background-repeat: no-repeat;
    background-position: bottom left;

}

.subtitle {

    /* Position Option */
    margin-left: 32px;


    /* Layout Option */
    font-family: 'Roboto Mono';
    font-size: 1.5em;
    color: white;
    opacity: 0.8;

}

/* NAEYONG Layout & Postitions */
/* Referance is Readme page */

.post_title {

    /* Position Option */
    padding-left: 32px;
    padding-top: 81px;

    /* Font Decorate Option */
    color: #40C4FF;
    font-size: 2em;
    font-family: 'Roboto';
    font-weight: 100;

}

.naeyong_a {

    /* Position Option */
    padding-left: 32px;
    padding-top: 5px;
    margin-bottom: 48px;

    /* Naeyong 1 */
    font-family: 'RixSGo M';
    font-size: 12pt;
    color: #646464;

}

.next_page {

    /* icon Layout */
    background-image: url(image/next_page.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left:15px;
    background-size: 10%;

    /* Position Option */
    padding-left: 12px;
    margin-left: 32px;
    margin-top: 10px;

    /* TEXT */
    color: #40C4FF;
    text-decoration: none;

}
