/* reset browser styles */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;


}
ol {
	padding-left: 1.4em;
	list-style: decimal;
}
ul {
	padding-left: 1.4em
	list-style: square;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end reset browser styles */
/* ---- 이 이후로 CSS 작성을 시작합니다 ---- */


/* BODY BACKGROUND OPTION */
/* 메인 배경에 대한 옵션입니다 */

body {

    /* Background Layout */
    /* 메인 배경에 대해 정의합니다 */
    background-image: url(image/main/background.png);
    background-color: #212121;
    background-repeat: repeat-x;
    margin: auto;

}


/* NAVIGATION LAYOUT OPTION*/
/* 네비게이션 바 레이아웃에 대해 정의합니다 */

.nav {

    /* Fixed Option */
    /* 아래의 코드를 사용하여 네비게이션 바의 위치를 고정합니다. */
    position: fixed;

    /* Background Code */
    /* 배경의 모양새를 정의합니다 */
    width: 100%;
    background:rgba(0, 0, 0, 0.8) repeat-y;

    /* Navigation First Layout Option */
    /* 네비게이션 바의 레이아웃을 1차로 정의합니다 */
    text-align: left;
    padding: 20px 32px 20px 32px;
    list-style: none;
    font-size: 1em;

}

.nav li {

    /* Navigation Second Layout Option */
    /* 네비게이션 바의 레이아웃을 2차로 정의합니다 */
    font-family: 'Roboto Mono';
    list-style: none;
    float: left;
    margin-left: 48px;

}

.nav li:first-child {

    /* first element margin reset */
    /* 첫번째 네비게이션 매뉴의 Margin값을 초기화합니다 */
    margin-left: 0px;

}

.nav a {

    /* Navigation Decorate Option */
    /* 네비게이션 텍스트들의 효과를 정의합니다 */
    text-decoration: none;
    opacity: 0.5;
    color : white;

}

.nav a:hover {

    /* Hover Option */
    /* 마우스를 갔다댔을때 효과를 정의합니다. 기본값은 불투명도 값을 초기화 합니다 */
    opacity: 1;

}


/* Navigation Current Page */
/* 현재 페이지인 네비게이션 매뉴에 대해 정의합니다 */

#current {

    /* Current Page Selected Option */
    /* 현재 페이지인 경우의 효과를 정의합니다 */
    opacity: 1;

    /* Current Page Selected Pointer option */
    /* 현재 페이지인 경우의 선택 탭 바에 대해 정의합니다 */
    background-image: url(image/navigation/ic_currentpage.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 45%;
    padding-bottom: 10px;

}

/* TITLE LAYOUT & TOP SIZE LAYOUT */
/* 메인 타이틀 레이아웃과 상단 부분의 크기 레이아웃에 대해 정의합니다 */

.title {

    /* Title Layout */
    /* 타이틀 부분의 레이아웃을 정의합니다 */
    font-family: 'Roboto Mono';
    font-weight: bold;
    font-size: 3em;
    color: white;

    /* Position Option */
    /* 타이틀 부분의 위치를 정의합니다 */
    margin-left: 35px;
    margin-bottom: 12px;
    padding-top: 225px;
    padding-bottom: 24px;


    /* Divider */
    /* 디바이더 악세서리에 대해 정의합니다 */
    background-image: url(image/main/title_div.png);
    background-repeat: no-repeat;
    background-position: bottom left;

}

.subtitle {

    /* Position Option */
    /* 보조 타이틀 부분의 위치를 정의합니다 */
    margin-left: 32px;

    /* Layout Option */
    /* 보조 타이틀 부분의 레이아웃을 정의합니다 */
    font-family: 'Roboto Mono';
    font-size: 1.5em;
    color: white;
    opacity: 0.8%;

}

/* NAEYONG Layout & Postitions */
/* Referance is Readme page */
/* 내용 레이아웃 및 위치 옵션 */
/* 기준 페이지는 Readme 페이지입니다 / 현재 페이지 : About_ME */

/* PICTURE POSITION SETTING : 이하 PPS */
/* float를 이용하여 정렬하는 이미지들을 위한 가운데 정렬용 div 태그에 대한 옵션 내용입니다. */

.pictureset {

	float: right;
	position: relative;
	left: -50%;

}

/*FIRST POST TITLE & SUB COPY */
/* 첫번째 글의 제목과, 세부제목 부분을 정의합니다 */
/* 첫번쨰 글 : 프로필 사진과 이름 */


.post_title {

    /* Position Option */
    /* 제목 부분의 위치를 정의합니다 */
    text-align: center;
    padding-top: 20px;
    clear: both;

    /* Font Decorate Option */
    /* 제목 부분의 텍스트 효과를 정의합니다. */
    color: #40C4FF;
    font-size: 2em;
    font-family: 'Roboto';
    font-weight: 100;

}

.naeyong_a {

    /* Position Option */
    /* 내용(국문이름)부분의 위치를 정의합니다 */
    text-align: center;
    padding-top: 5px;
    margin-bottom: 48px;

    /* Font Decorate Option */
    /* 내용(국문이름)부분의 텍스트 효과를 정의합니다*/
    font-family: 'RixSGo M';
    font-size: 12pt;
    color: #646464;

}

#nickname {

    /* Font decorate Option */
    /* 내용(국문이름)클래스 안의 닉네임 부분의 텍스트 효과를 정의합니다 */
    font-family: "Roboto";
    font-weight: 500;
    color: #757575;

}

.profile {

    /* Position Option */
    /* 프로필 사진 부분의 위치를 PPS를 통해 정의합니다 */
    float: left;
    position: relative;
    left: 50%;
    margin-top: 196px;

}

.scrlhelper {

    /*Position Option */
    /* 스크롤헬퍼 레이아웃의 위치를 PPS를 통해 정의합니다 */
    margin-bottom: 96px;
    float: left;
    position: relative;
    left: 50%;
}

/* NAEYONG B TITLE */
/* 내용 본문 제목에 대한 옵션입니다 */

#link_naeyong {

    /* PPS를 사용한 요소로 인한 레이아웃 붕괴를 교정합니다 */
    clear: both;

}

.naeyong_b_title {

    /* Position Option */
    /* 모든 본문내용 제목의 위치를 정의합니다 */
    text-align: center;
    padding-top: 320px;
    padding-bottom: 25px;
    margin-top: 300px;
    margin-bottom: 0px;
    line-height:80%;

    /* Border Option */
    /* 모든 본문내용 제목 구분선에 대해 정의합니다 */
    background-image: url(image/navigation/ic_currentpage.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 3%;

    /* Font decorate Option */
    /* 모든 본문내용 제목 텍스트 효과에 대해 정의합니다 */
    font-family: "Roboto Mono";
    font-size: 2em;
    color: white;

}

#korean_name {

    /* Font Decorate Option */
    /* 모든 본문 내용 제목 클래스에 국문 제목 부분의 텍스트 효과에 대해 정의합니다 */
    font-family: 'RixSGo M';
    font-size: .5em;
    color: #40C4FF;

}

/* NAEYONG B */
/* 내용 본문에 대한 옵션입니다 */

.naeyong_b {

    /* Position Option */
    /* 모든 본문의 위치를 정의합니다 */
    padding-top: 25px;
    text-align: center;

    /* Font Decorate Option */
    /* 모든 본문의 텍스트 효과를 정의합니다 */
    font-family: 'RixSGo M';
    font-size: 1.2em;
    line-height: 150%;
    color: #BDBDBD;
}

.ny1 {

    /* Naeyong1 Background Option */
    /* 첫번째 내용 문단 배경에 대한 옵션입니다 */
	background-image: url(image/aboutme_resource/ny1_pic.png);
	background-repeat: repeat-x;
	background-position: center;

    /* Position Option */
    /* 아름다운 Full-size 백그라운드를 위한 옵션입니다. */
    padding-bottom: 420px;

}

.title_of_sec {
    
	text-align: center;
    clear: both;
    font-family: 'RixSGo M';
    font-size: 1.5em;
    padding-bottom: 120px;
    padding-top: 30px;
    margin-bottom: 20px;
    color: white;
    
    
}

/* TOOLS ICONS */
/* 할 수 있는 기술 문단의 프로그램 아이콘에 대한 옵션입니다 */
/* 주의 : Class이름이 Graphic을 기준으로 되어 있습니다 */

#second_post {

    /* Text Align Option */
    /* Second Post의 텍스트를 왼쪽 정렬 합니다.*/
    text-align: left;

    padding-bottom: 12px;

}

.graphic_tools {

  	/* Position Option*/
    /* 아이콘의 위치에 대해 정의합니다 */
    margin-right: 12px;
    margin-top: 15px;

}

/* GRAPHIC TOOLS SEBU */
/* 할 수 있는 기술 문단의 세부 설명 부분에 대한 옵션입니다 */

.gr_sebu_title {

    /* Position Option */
    /* 세부 설명 제목의 위치를 정의합니다 */
    padding-top: 8px;
    margin-top: 12px;

    /* Accessory Option (Background) */
    /* 세부 설명 제목에 있는 디바이더 악세사리에 대해 정의합니다 */
    background-image: url(image/navigation/ic_currentpage.png);
    background-repeat: no-repeat;
    background-size: 6%;
    background-position: left top;

    /* Font Decorate Option */
    /* 세부 설명 제목의 폰트 효과에 대해 정의합니다 */
    font-family: 'Roboto Mono';
    font-size: 1.2em;
    font-weight: 700;
    color: #616161;

}

.gr_sebu {

    /* Position Option */
    /* 세부 설명의 위치를 정의합니다 */
    margin-top: 2px;

    /* Font Decorate Option */
    /* 세부 설명의 폰트 효과를 정의합니다 */
    font-family: "roboto";
    font-size: .9em;
    font-weight: 600;
    color: #424242;

}

.gr_sebu_II {

    /* Position Option */
    /* 두번째 세부 설명의 위치를 정의합니다 */
    margin-top: 2px;

    /* Font Decorate Option */
    /* 두번째 세부 설명의 텍스트 효과를 정의합니다 */
    font-family: 'RixSGo M';
    font-size: .9em;
    font-weight: 600;
    color: #424242;

}

/* LOCAL PPS OPTION */
/* PPS 옵션을 사용하기 힘든 요소에 PPS요소를 삽입합니다. */

/* LOCAL PPS START */

.graphic {

    /* Block Position */
    /* graphic 블록의 위치를 PPS를 통해 정의합니다 */
    float: left;
    position: relative;
    left : 50%;
    margin-right: 72px;

}

.office {

    /* Block Position */
    /* office 블록의 위치를 PPS를 통해 정의합니다 */
    float: left;
    position: relative;
    left : 50%;
    margin-right: 72px;
}

.program {

    /* Block Position */
	/* program 블록의 위치를 PPS를 통해 정의합니다 */


}

.second_post {

	/* PPS master Option */
	/* pictureset과 동일한 효과의 옵션입니다. */
	float: right;
	position: relative;
	left: -50%;

}

/* LOCAL PPS END */

.third_title {

	/* Position Option */
	/* PPS를 사용한 요소로 인한 레이아웃 붕괴를 교정합니다 */
	clear: both;

}
